<footer>
    <div class="container">
        <div class="footer-links">
            <p>
                <a href="mailto:boris@arizona.edu">boris@arizona.edu</a>
            </p>
            <p>
                <a href="https://scholar.google.com/citations?user=kHuGNkEAAAAJ" target="_blank" rel="noopener noreferrer">Google Scholar</a> &bull;
                <a href="https://www.linkedin.com/in/boris-benedikter/" target="_blank" rel="noopener noreferrer">LinkedIn</a> &bull;
                <a href="https://www.researchgate.net/profile/Boris-Benedikter" target="_blank" rel="noopener noreferrer">ResearchGate</a>
            </p>
        </div>

        <p class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author }}. All rights reserved.</p>
    </div>
</footer>